body {
    width: 100%;
    height: 100vh;
}

.dark {
    background-color: #313131FF;
    color: #ffff;
}

.light {
    background-color: #ffff;
    color: #313131FF;
}

input[type="checkbox"]:checked {
    color: green; /* Change to the desired color */
}